*{
    margin: 0px;
    padding: 0px;
}
.top{
    text-align: center;
    background-color: cadetblue;
    opacity: 1;
}

.left{
    height: 800px;
    width: 20%;
    background-color: red;
    float: left;
}
.right{
    height: 800px;
    width: 80%;
    background-color: gray;
    text-align: center;
    float: right;
}
.right_box1{
    display: inline-block;
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
}
.right_box1 textarea{
    width: 100px;
    height: 80px;
}

.user{
    height: 50px;
}
